header {
  background: linear-gradient(90deg, rgba(171,235,251,1) 33%, rgba(255,165,0,1) 67%);

  & > div.container {
    @apply flex flex-col flex-wrap sm:flex-row sm:flex-nowrap gap-4 items-center justify-between mx-auto;
  }
}

nav {
  @apply flex justify-end;

  .menu {
    @apply flex gap-4;

    &-item {
      @apply text-center min-w-[10em] uppercase rounded;

      background-color: rgba(255, 255, 255, 0.5);
      
      a {
        @apply relative block p-4 -outline-offset-4 uppercase font-bold text-lg ease-in-out z-10;

        span {
          position: relative;
          color: inherit;
        }

        &::before {
          @apply absolute top-0 left-0 w-0 h-0 bg-black;

          content: '';
          transition: width 0.12s ease-in-out;
          z-index: -1;
        }

        &:hover,
        &:focus {
          @apply text-white;

          &::before {
            @apply w-full h-full;

            transition: width 0.12s ease-in-out;
          }
        }
      }
    }

    & > .menu-item {
      @apply border-darkgray border-2;
    }

    .has-submenu {
      @apply relative;

      &--closed {
        .submenu {
          @apply hidden;
        }
      }
    }

    .submenu {
      @apply absolute border-2 border-darkgray z-10 bg-white;

      & > .menu-item {
        @apply border-b-2;

        &:last-child {
          @apply border-b-0;
        }
      }
    }
  }
}